<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Выбор предметов</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="sub_page">
  <style>
    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
    }
  </style>

  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{% url 'store:home' %}">
            <span>Добавления учителя</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'profileStudent:prof' %}">{{ user.name }} {{ user.fullname }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store:home' %}">Домой</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store:category' %}">Предметы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Users:logout' %}">Выйти</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <div class="container">
    <h1>Выберите предметы</h1>
    <form method="POST">
      {% csrf_token %}
      <select name="subjects" id="subjects" size="5" multiple class="form-control">
        {% for subject in predment_no_teacher %}
          <option value="{{ subject }}">
            {{ subject }}
          </option>
        {% endfor %}
      </select>
      <button type="submit" name="action" value="subject" class="btn btn-primary">Выбрать предмет</button>
      <br />

      <h2>Учителя</h2>
      <div id="teachersList">
        {% if teachers_list  %}
          <div class="row">
            {% for teacher in teachers_list %}
              <div class="col-md-4">
                <div class="teacher-card">
                  {% if teacher.photo_teacher %}
                    <img src="{{ teacher.photo.url }}" alt="Фото учителя" class="teacher-photo" style="width: 100px; height: 100px; object-fit: cover;">
                  {% else %}
                    <p>Фото отсутствует</p>
                  {% endif %}
                  <div class="teacher-info">
                    <p>{{ teacher.name }} {{ teacher.fullname }}</p>
                    <p>Email: {{ teacher.email }}</p>
                    <p><strong>Информация:</strong> {{ teacher.regalia_teacher }}</p>
                    <button type="submit" name="teacher_username" value="{{ teacher.username }}" class="btn btn-primary">
                      Выбрать учителя: {{ teacher.name }} {{ teacher.fullname }}
                    </button>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% elif selected_teacher  %}
        <div class="row">
            <div class="col-md-4">
              <div class="teacher-card">
                {% if teacher.photo_teacher %}
                  <img src="{{ selected_teacher.photo.url }}" alt="Фото учителя" class="teacher-photo" style="width: 100px; height: 100px; object-fit: cover;">
                {% else %}
                  <p>Фото отсутствует</p>
                {% endif %}
                <div class="teacher-info">
                  <p>{{ selected_teacher.name }} {{ selected_teacher.fullname }}</p>
                  <p>Email: {{ selected_teacher.email }}</p>
                  <p><strong>Информация:</strong> {{ selected_teacher.regalia_teacher }}</p>
                    {% if free_time_teacher %}
                    <h3>Доступное время для занятий</h3>
                    <select name="available_times" class="form-control">
                      {% for day, times in free_time_teacher.items %}
                        <optgroup label="{{ day }}">
                          {% for time in times %}
                            <option value="{{ day }} {{ time }}">{{ time }}</option>
                          {% endfor %}
                        </optgroup>
                      {% endfor %}
                    </select>
                    {% else %}
                    <p>У учителя нет свободного времени</p>
                  {% endif %}
                  <button type="submit" name="schedule" value="confirm_choice" class="btn btn-primary">
                    Подтвердить выбор
                  </button>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </form>
  </div>

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
