<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="ru">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Выбор предметов</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="sub_page">
  <style>
    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: inherit;
      text-decoration: none;
    }
  </style>

  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{% url 'store:home' %}">
            <span>
              Добавления учителя
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'profileStudent:prof' %}">{{ user.name }} {{ user.fullname }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store:home' %}">Домой</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'store:category' %}">Предметы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Users:logout' %}">Выйти</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>

  <div class="container">
    <h1>Выберите предметы</h1>
    <form method="POST">
      {% csrf_token %}
      <select name="subjects" id="subjects" size="5" multiple class="form-control">
        {% for subject in predment_list %}
          <option value="{{ subject }}">
            {{ subject }}
          </option>
        {% endfor %}
      </select>
    
      <br />
      <button type="submit" class="btn btn-primary">Выбрать предмет</button>

      <!-- Отображение учителей -->
      <h2>Учителя</h2>
      <div id="teachersList">
        {% if teachers %}
          <div class="row">
            {% for teacher in teachers_list %}
              <div class="col-md-4">
                <div class="teacher-card">
                  <!-- Фотография учителя -->
                  <img src="{{ teacher.photo_teacher }}" alt="Фото учителя" class="teacher-photo" style="width: 100px; height: 100px; object-fit: cover;">
                  <div class="teacher-info">
                    <p>{{ teacher.name }} {{ teacher.fullname }}</p>
                    <p>Email: {{ teacher.email }}</p>
                    <!-- Кнопка выбрать учителя -->
                    <a href="{% url 'profileStudent:add' %}" class="btn btn-primary">Выбрать учителя</a>
                  </div>
                </div>
              </div>
            {% empty %}
              <div class="col-12">
                <p>Нет доступных учителей для выбранных предметов.</p>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    </form>
  </div>

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>

